*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #eeeeeebb;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.main_box{
    width: 300px;
    height: 400px;
    background-color: #eee;
    position: fixed;
    
}
.first_box{
    width: 300px;
    height: 150px;
    background-color: #fd4a8e;
    border-radius: 15px 15px 0px 0px ;
}
div h5{
    font-size: 12px;
    color: #ffffffe0;
    text-align: center;
    padding: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.second_box{
    width: 300px;
    height: 250px;
    background-color: #fff;
    border-radius: 0px 0px 15px 15px;
}
.text_box{
    width: 70%;
    margin: 1rem 2rem;
    padding: 10px;
    border-radius: 5px;
    border-color: #eee;
    border: 1px solid #928888;
}
.btn{
    width: 77%;
    margin: 0.1rem 2rem;
    padding: 8px;
    border-radius: 5px;
    background-color: #fd4a8e;
    color: #fff;
    text-align: center;
    border: 1px #fff;
}
p{
    margin: 1.5rem 5.5rem;
    color: #000000bb;
}
ul{
    list-style-type: none;
}
li{
    display: inline;
    padding: 10px;
    margin-left: 35px;
    font-size: 25px;
}
#twitter{
    color: #0cafc5;
}
#google{
    color: #ff8c00;
}